.extended-widget-opts-form{ 
	margin-left: -15px; 
	margin-right: -15px;
	padding-top: 5px; 
	clear: both;
}
.so-content.panel-dialog .extended-widget-opts-form{
	display: none;
}
.extended-widget-opts-form.extended-widget-opts-form-large .ui-tabs-nav .dashicons{
	display: none;
}
.extended-widget-opts-form.extended-widget-opts-form-small .ui-tabs-nav .dashicons{
	display: inline-block;
}
.extended-widget-opts-form.extended-widget-opts-form-small .tabtitle{
	display: none;
}
.extended-widget-opts-tabs.ui-widget, .extended-widget-opts-inside-tabs.ui-widget{
	border: 0px !important;
	background: transparent !important;
	border-radius: 0px !important;
	font-family: "Open Sans",sans-serif;
}
.extended-widget-opts-tabs.ui-tabs{
	padding-left: 0px;
	padding-right: 0px;
}
.extended-widget-opts-tabs .ui-tabs-nav{
	border: 0px !important;
	border-bottom: 1px solid #e5e5e5 !important;
	background: transparent !important;
	border-radius: 0px !important;
	padding: 0px !important;
}
.extended-widget-opts-tabs .ui-tabs-nav li{
	float: left !important;
	margin-left: 1px !important;
	margin-bottom: 0px !important;
	margin-right: 2px !important;

	border: 0px !important;
	background: transparent !important;
	border-radius: 0px !important;
}
.extended-widget-opts-tabs .ui-tabs-nav li:first-child{
	margin-left: 15px !important;
}
.extended-widget-opts-tabs .ui-tabs-nav li:last-child{
	margin-right: 0px !important;
}
.extended-widget-opts-tabs .ui-tabs-nav li:last-of-type{
	margin-right: 0px !important;
}
.extended-widget-opts-tabs .ui-tabs-nav li.ui-tabs-active{
	margin-bottom: -1px !important;
}
.extended-widget-opts-tabs .ui-tabs-nav li a{
	display: block !important;
	padding: 8px 7px 8px !important;
	font-size: 12px !important;
	background: #fafafa !important;
	color: #444 !important;
	text-decoration: none !important;
	border: 1px solid #e5e5e5 !important;
	border-bottom: 0px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	font-weight: normal !important;
}
.extended-widget-opts-form-large .extended-widget-opts-tabs .ui-tabs-nav li a{
	padding: 7px 8px 8px !important;
}
.extended-widget-opts-tabs .ui-tabs-nav li.ui-tabs-active a{
	margin-bottom: -1px !important;
	padding-bottom: 9px !important;
	box-shadow: none !important;
	background: #fff !important;
}
.extended-widget-opts-tabs .ui-tabs-nav li .dashicons{
	height: 15px !important;
	font-size: 15px !important;
}
.extended-widget-opts-tabcontent{
	padding: 0px 15px 15px 15px;
}
.extended-widget-opts-form .form-table td{
	padding: 5px;
	/*text-align: center;*/
}
.extended-widget-opts-inner-lists, .extended-widget-opts-class-lists, .extended-widget-opts-inner-roles{
	display: block;
	width: 100%;
	height: 230px !important;
	padding: 5px 8px !important;
	overflow: auto;
    border: 1px solid #dfdfdf;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.extended-widget-opts-class-lists, .extended-widget-opts-inner-roles{
	height: auto !important;
	max-height: 230px !important;
}
.extended-widget-opts-inner-lists h4, .extended-widget-opts-inner-lists h4:hover{
	cursor: pointer;
}
.extended-widget-opts-inner-lists small{
	opacity: 0.5;
	font-weight: normal;
    font-size: 11px;
}
.extended-widget-opts-clearfix{
	clear: both;
}
.extended-widget-opts-tabcontent.extended-widget-opts-inside-tabcontent{
	padding: 10px 15px !important;
}
.extended-widget-opts-inside-tabcontent .extended-widget-opts-inner-tabcontent{
	border: 1px solid #dddddd !important;
	border-top: 0px !important;
	padding: 10px !important;
}
.extended-widget-opts-inside-tabcontent .extended-widget-opts-styling-tabcontent tr td:last-child{
	min-width: 117px;
}
.extended-widget-opts-inside-tabcontent .extended-widget-opts-styling-tabcontent p{
	text-align: center;
}
.extended-widget-opts-inner-tabcontent.extended-widget-opts-visibility-tabcontent{
	text-align: left;
}
.extended-widget-opts-inside-tabs .ui-tabs-nav li:first-child{
	margin-left: 0px !important;
}
.extended-widget-opts-inside-tabs .ui-tabs-nav li a{
	padding: 8px !important;
}
.widget-opts-toggle-note{
	display: none;
}
.widget-opts-toggler-note{
	font-size: 11px;
	color: #0073aa !important;
}
.widget-opts-learnmore{
	text-decoration: none;
}

.extended-widget-opts-tabcontent-gopro li{
	font-size: 12px;
}

/* customizer fix */
#customize-theme-controls .ui-tabs .ui-tabs-panel.extended-widget-opts-tabcontent{
	min-width: 100%;
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
#customize-theme-controls .extended-widget-opts-form .ui-tabs-nav .dashicons{
	display: inline-block;
}
#customize-theme-controls .extended-widget-opts-form .tabtitle{
	display: none;
}
#customize-theme-controls .extended-widget-opts-form .ui-tabs .ui-tabs-nav li a{
	line-height: 16px !important;
}
#customize-theme-controls .extended-widget-opts-form .extended-widget-opts-tabcontent-styling .inputsize5{
	max-width: 50px;
}

/** Settings Page **/
.opts-classes-setting-table tr strong{
	display: inline-block;
	min-width: 150px;
}
.opts-hidden-placeholder{
	display: none;
}
.opts-add-class-btn .dashicons{
	text-decoration: none !important;
	line-height: 29px;
	height: 29px;
}
.opts-remove-class-btn .dashicons{
	text-decoration: none !important;
	line-height: 18px;
	height: 18px;
	color: #b20820;
}
#opts-predefined-classes{
	padding: 0px 10px;
}
#opts-predefined-classes .opts-li-value{
	display: inline-block;
	margin-right: 10px;
}
.fortyfourwp-banners img {
    max-width: 100%;
}